*{
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}


svg path:nth-child(1){
stroke-dasharray:230px;
animation: ani1 30s infinite ;
}
svg path:nth-child(2){
stroke-dasharray:400px;
animation: ani1 30s infinite  ;
}
svg path:nth-child(3){
stroke-dasharray:230px;
animation: ani1 30s infinite  ;
}
svg path:nth-child(4){
stroke-dasharray:230px;
animation: ani1 30s infinite ;
}
svg path:nth-child(5){
stroke-dasharray:360px;
animation: ani1 30s  infinite ;
}
svg path:nth-child(6){
stroke-dasharray:255px;
animation: ani1 30s  infinite ;
}
@keyframes ani1{
    0%{
        stroke-dashoffset: 0%;
    }
    100%{
    stroke-dashoffset:100%;
    stroke-dasharray: 0%;
    }
}